*{
  left: 0;
  top:0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Montserrat',sans-serif;

    
    --color-primary-400: #339fcd;
    --color-gray-600: rgb(56, 56, 56);

    --size-font-nav:1rem;
    --size-font-nav-mobile: 1rem;
}
.gray{
  color: var(--color-gray-600);
}
.uppercase{
  text-transform: uppercase;
}
.main-container{
  position:relative;
  width: 100%;
}
h2{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
h5{
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  
}
h3{
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
body{
  background-image: url('../images/backgrounds/landing_2.png');
  background-size: calc(100% * 100vh);;
  background-repeat: no-repeat;
}

.content{
 
  text-align: justify;
  color: white;
}


.content p{
  font-size: 1rem;
}

#ra-logo,
nav i:hover,
#side-drawer i:hover,
#profile-banner-function{
    cursor: pointer;
    transition: transform 0.25s ease-out;
    z-index: 997;
  }
#ra-logo:hover,
nav i:hover,
#side-drawer i:hover
{
        transform: scale(1.05);
  }
  #profile-banner-function:hover{
    transform: scale(1.05);
    z-index: 997;
  }

